* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}

body {
  background-image: url("../components/icons/travelbk.jpg");
  height: 100vh;
}

.filtros {
  align-items: center;
  background-color: #f0f8ffb3;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.select {
  -webkit-backdrop-filter: blur(7.4px);
  backdrop-filter: blur(7.4px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  height: 40px;
}
.select option {
  background-color: rgb(192, 192, 192);
  font-size: 15px;
  height: 20px;
}

.reset-btn {
  -webkit-backdrop-filter: blur(7.4px);
  backdrop-filter: blur(7.4px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  margin-top: 16px;
  transition: transform 0.2s;
  width: 100px;
}
.reset-btn:hover {
  border: none;
  transform: scale(1.1);
}
.inputDate {
  -webkit-backdrop-filter: blur(7.4px);
  backdrop-filter: blur(7.4px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  height: 40px;
}
.optionFilter {
  font-size: 15px;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .filtros {
    flex-direction: column;
    text-align: center;
  }
}
