
.header {
    width: 100vw;
    height: 150px;
    background-color: #01d0b1;
    /* padding-left: 30px; */
}
.header-title {
    font-family: sans-serif;
    font-size: 30px;
    color: white;
}
.header-date {
    font-family: sans-serif;
    font-size: 20px;
    color: white;   
}