.header {
  background-color: #f0f8ffb3;
  font-family: sans-serif;
  padding: 20px;
  width: 100vw;
}
.header-title {
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
}
.header-date {
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.header-date .info {
  color: blue;
}
