* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
.app {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.filtros {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1f9bed;
}
.select {
    margin: 10px;
    height: 40px;
    border-radius: 10px;
}

.date-filter {
    margin: 10px;
    height: 40px;
    border-radius: 10px;
}
.reset-btn {
    margin: 10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
.reset-btn:hover {
    background-color: lightblue;
}




